@import '../utils/styles/index.scss';
@import '../utils/mixins/media-queries.scss';

body {
  background-color: $main-gray-900;
  box-sizing: border-box;
}

.homepage {
  &__grid {
    padding-inline: 16px;
  }
}