@import '../../../../utils/styles/variables.scss';

.slider-button {
  display: block;
  height: fit-content;
  width: fit-content;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid $main-gray-600;

  &-right {
    transform: rotate(180deg)
  }
}